:root{
    --bg: #f3b2b2;
    --card: #db9d9d;
    --accent: #ca6969;
    --muted: #f0c1c1;
    --text: #000000;
    --radius: 10px;
    --max-width: 1200px;
    --gap: 20px;
}


.titre{
    text-align: center;
    color:#c64545;
    margin-top: 100px;
    font-style: italic;
    font-size: 2.5rem;
}
.container{
    gap:10px;
    display: flex;
    margin:  auto;
    padding: 20px;
    justify-items: center;
    position: relative;
    min-height: 300px;
    min-width: 200px;
    flex-direction: row;
    justify-content: center;
    border-radius: 10px;
    border-radius: 15px;
    margin: 10px auto; /* centre */
    text-align: center;
    background-color: #f0c1c1;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    
   
}
.project{
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    margin-bottom: 20px;
    text-align: left;
   
    
}
.project-title{
    font-size: 1.5rem;
    color:#ca6969;
    margin-bottom: 10px;
}
.project-description{
    font-size: 1rem;
    color: #000000;
    line-height: 1;
}
header{
    
    border-radius: 5px;
}
p {
  width: 500px;
  font-size: 18px;
  word-wrap: break-word;
  text-align: justify; /* étire les lignes pour qu’elles remplissent toute la largeur */
}
.body{
    background-color:var(--bg);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text);
    max-width: var(--max-width);
    
    display: flex;
    flex-wrap: nowrap;
   
}
 
.bare {
    width: 100%;
    background: #b85151;        /* couleur de fond */
    padding: 15px 0;
    display: flex;
    justify-content: center;
    gap: 25px;
    position: sticky;
    top: 0;
    border: #b85151;
    border-radius: 5px;
    
     
    
}

/* --- Liens dans la navbar --- */
.bare a {
    color: #fbe8e8;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 8px 14px;
    transition: 0.3s ease;
    border-radius: 8px;
    text-decoration: underline;
   
}

/* Hover */
.bare a:hover {
    background: #aa4a4a;
    color: white;
}

/* Page actuelle (active) */
.bare a.active {
    background: white;
    color: #d85c5c;
}
/* --- RESPONSIVE --- */
@media (max-width: 700px) {
    .bare {
        flex-wrap: wrap;
        gap: 10px;
        padding: 10px 0;
    }

    .bare a {
        font-size: 1.5rem;
        padding: 6px 10px;
    }
    .container{
        display: flex;
        flex-direction: column;
        
    }
    .projet p {
       width:100%; 

    }
    .container p{
        width: 100%;
    }
   
}
@media (max-width: 1200px) {
    .bare {
        
        flex-wrap: wrap;
        gap: 10px;
        padding: 20px 0;
    }

    .bare a {
        font-size: 1rem;
        padding:10px 0;
        gap:15px;
    }
    .projet p {
       width:100%; 

    }
    .container p{
        width: 100%;
    }
}